<template>
  <div id="app">
    <LocationFilterApp></LocationFilterApp>
  </div>
</template>

<script>
import LocationFilterApp from './components/LocationFilterApp.vue'

export default {
  name: 'App',
  components: {
    LocationFilterApp
  }
}
</script>

<style>
</style>
